<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<ul class="phones">
				<img ng-src="{{book.imageUrl}}">
			</ul>
		</div>
		<div class="col-md-7">
			<p>
			<h1>Title: {{book.name}}</h1>
			</p>
			<p>
			<h1>Author: {{book.author}}</h1>
			</p>
			<p>
			<h3>Price: {{book.price | currency}}</h3>
			</p>

			<p>{{book.description}}</p>


			<div>
				<i class="fa fa-shopping-cart fa-4x fa-spin" /> <u><strong><em><a
							href=""
							ng-click="cart.addItem(book.code, book.name, book.author, book.price, 1)">
								Add to cart </a></em></u></strong>
				</p>
			</div>
			<br />
			<p>
			<p>
				<a ng-href="#/cart" title="go to shopping cart"
					ng-disabled="cart.getTotalCount() < 1"> <u><strong><em>Go
								to Shopping Cart [total: {{cart.getTotalCount()}} items,
								{{cart.getTotalPrice() | currency}} ] <em></u></strong></a>
			</p>

			<p>
				<u><strong><em><a ng-href="#/books"
							title="Back to store"> Back to store </a></em></u></strong>
			</p>

		</div>
	</div>
</div>
