<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-2">
			</br>
			</br>
			</br>
			</br> </br>
			</br>
			</br>
			</br>
			</br>
			</br>
			<p class="text-info">
				</br>
			<p>
				<strong><u><em><a href="#/books"
							title="back to store"> Back to store</a></em></u></strong>
			</p>
			</p>

		</div>
		<div class="col-md-8">
			</br>
			</br>
			<!-- items -->
			<table class="table table-striped table-bordered table-condensed">
				<i class="fa fa-shopping-cart fa-4x" />

				<h3>
					<u><em><a ng-href="#/order" title="submit order"
							ng-show="(cart.getTotalCount() > 0) && (cart.submitted==false)">
								Submit order</a></em></u>
				</h3>

				<p class="text-info">
					Thank you for shopping at the BookStore.<br /> Now you can edit the items, go back to the store,
					clear the cart, or check out.
				</p>
				</br>
				</br>
				<!-- header -->
				<tr>
					<td><b>Item</b></td>
					<!--<td class="tdCenter"><b>Unit Price</b></td>-->
					<td class="tdCenter"><b>Quantity</b></td>
					<td class="tdRight"><b>Total Price</b></td>
					<td class="tdRight"><b>Remove</b></td>
					</td>
				</tr>

				<!-- empty cart message -->
				<tr ng-hide="cart.getTotalCount() > 0">
					<td class="tdCenter" colspan="4">Your cart is empty.</td>
				</tr>

				<!-- cart items -->
				<tr ng-repeat="item in cart.items | orderBy:'name'">
					<td>{{item.name}}</td>
					<!--<td>{{item.price}}</td>-->
					<td class="tdCenter">
						<div class="input-append">

							<input class="span3 text-center" type="tel"
								ng-model="item.quantity" ng-change="cart.saveItems()" />
							<button class="btn btn-info" type="button"
								ng-disabled="item.quantity >= 1000"
								ng-click="cart.addItem(item.code, item.name, item.author, item.price, +1)">+</button>
							<button class="btn btn-inverse" type="button"
								ng-disabled="item.quantity <= 1"
								ng-click="cart.addItem(item.code, item.name, item.author, item.price, -1)">-</button>
						</div>
					</td>
					<td class="tdRight">{{item.price * item.quantity | currency}}</td>
					<td class="tdCenter" title="remove from cart">
						<button class="btn btn-inverse" type="button"
							ng-click="cart.addItem(item.code, item.name, item.author, item.price, -100000)">
							<span class="glyphicon glyphicon-remove"></span>-
						</button>
					</td>
				</tr>

				<!-- footer -->
				<tr>
					<td><b>Total</b></td>
					<td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
					<td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
					<td />
				</tr>
			</table>

			<div class="col-md-2">
				<button class="btn btn-info" ng-click="cart.clearItems()"
					ng-disabled="cart.getTotalCount() < 1">
					<i class="icon-trash icon-white" /> clear cart
				</button>
			</div>

		</div>

	</div>
</div>
</div>
